build/*
logs/errors/*
logs/results/*
target_project/src/*
target_project/test/*

test_result_tmp.txt

!build/.gitkeep
!logs/errors/.gitkeep
!logs/results/.gitkeep
!target_project/src/.gitkeep
!target_project/test/.gitkeep